# Build folders
Debug/
Release/
build/

# Object/binary files
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list

# STM32CubeIDE metadata
.metadata/
.settings/

# Debug launch configs
*.launch

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
stm32f411-blackpill/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/stm32f411-blackpill/.metadata
*.xmi
